.header{
    font-family: "Times New Roman";
    font-size: 20px;
}
.header h1:hover{
    color: red;
}
td{
    width: 200px;
    height: 50px;
}
table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
}
.form2 td{
    width: 350px;
}